# The URL the site will be built for
base_url = "https://lecoqjacob.github.io"
theme    = "terminimal"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = true

taxonomies = [{ name = "tags" }]

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code  = true
highlight_theme = "boron"

[extra]
# One of: blue, green, orange, pink, red.
# Defaults to blue.
accent_color = "orange"

# One of: blue, dark, green, orange, pink, red.
# Enabling dark background will also modify primary font color
# to be darker.
# Defaults to accent color (or, if not accent color specified, to blue).
background_color = "blue"

# The logo text - defaults to "Terminimal theme"
logo_text = "Yendor's Blog"

# The logo link - defaults to base_url.
#logo_home_link = "/take/me/away!"

# Author name: when specified, modifies the default
# copyright text. Apart from author, it will
# contain current year and a link to the theme.
author = "Jacob LeCoq"

copyright_html = """
© Jacob LeCoq and lecoqjacob.github.io, 2023. <br><br> \
Unauthorized use and/or duplication of this material without express and written permission 
from this site’s author and/or owner is strictly prohibited. \
Excerpts and links may be used, provided that full and clear credit is given to Jacob LeCoq 
and lecoqjacob.github.io with appropriate and specific direction to the original content \
"""

# Whether to show links to earlier and later posts
# on each post page (defaults to true).
enable_post_view_navigation = true

# The text shown at the bottom of a post,
post_view_navigation_prompt = "Thanks for reading! Read other posts?"

page_titles = "combined"

# menu is enabled by adding menu_items (optional)
menu_items = [
    # each of these is optional, name and url are required
    # $BASE_URL is going to be substituted by base_url from configuration
    { name = "blog", url = "$BASE_URL" },

    # tags should only be enabled if you have "tags" taxonomy
    # see documentation below for more details
    { name = "tags", url = "$BASE_URL/tags" },
    { name = "archive", url = "$BASE_URL/archive" },
    { name = "about me", url = "$BASE_URL/about" },

    # set newtab to true to make the link open in new tab
    { name = "github", url = "https://github.com/lecoqjacob", newtab = true },
]
